doctype html
html
    head
        title Something Big
        link(href="../styles.scss",rel="stylesheet")

    body
        :mdx-it(sidebar=false)
            # BLOG
        script(src="../main.js",defer=true)
