doctype html
html
    head
        title Something Big
        link(href="./styles.scss",rel="stylesheet")

    body
        :mdx-it(sidebar=false)
            # Partial Application

            > A podcast that's partly about software and partly about life and hobbies. Because work-life balance should be a balance.

            * this
            * should
            * be
            * a
            * list
            ```
                console.log('test')
                assert(this.text === test)
                if(this) {
                  we're going to test some stuff
                }
            ```
        script(src="./main.js",defer=true)